@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Adam's Awesome Movie and Actor Website of Victory and Success</h1>
    <p>Add your favorite movies and actors!</p>
    <p>You know what to do.</p>
</div>
