@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Movie / Actor Manager</h1>
    <img id="home-icon" src="https://cdn0.iconfinder.com/data/icons/multimedia-and-electronics/512/clapboard_clapper_cinema_movie_film_production_clap_video_action_play_cinematography_studio_industry_hollywood_premiere_flat_design_icon-512.png" />
    <p>Add your favorite movies and their actors!</p>
</div>
